<div class="col-xs-7 right-heading" id="message-header">
	<h4 class="title">
		<span class="name">Vincent</span>
		made an offer of
		<span class="price">$39.00</span>
		for
		<span class="subject">"IKEA Sofa Taupe Leather"</span>
	</h4>
	<h4 class="title">
		<span class="pull-left img-decline">
			<%= image_tag image_url("tapsell-decline.png"), class: "pull-left" %>
			<span class="pull-left">DECLINED</span>
		</span>
	</h4>

	<%#= render "message_header" %>
</div><!-- end of right-heading -->