<div class="col-xs-7 right-heading" id="message-header">
	<h4 class="title">
		Congratulations! You earned 
		<span class="price">$39.00</span>
		for your team
		<span class="subject">FIFTY SHADES OF GREY</span> 
	</h4>
	<%#= render "message_header" %>
</div><!-- end of right-heading -->