<div class="col-xs-7 right-heading" id="message-header">
	<h4 class="title">
		Yay +1 win! Enjoy your
<<<<<<< HEAD
		<span class="subject orange">IKEA Sofa Taupe Leather</span>
	</h4>
	<h4 class="title">
		Your scored this at your offer of
		<span>$50.00.</span>
=======
		<span class="subject orange"><%= link_to @current_msg_chain.offer.listing.title, listing_path(@current_msg_chain.listing) %></span>
	</h4>
	<h4 class="title">
		Your scored this at your offer of
		<span><%= number_to_currency(@current_msg_chain.offer.price, :locale => 'en_us', :precision => 0) %>.</span>
>>>>>>> c9efa0f5dfb4d48c381d8b7f986e19497143f67b
	</h4>

	<%#= render "message_header" %>
</div><!-- end of right-heading -->