<div class="col-xs-10 right-heading" id="message-header">
  <h4 class="title">
    <%= "You made an offer of" %>
    <span class="price"><%= number_to_currency(@current_msg_chain.offer.price, :locale => 'en_us', :precision => 0) %></span>
    for
    <span class="subject"><%= link_to @current_msg_chain.offer.listing.title, listing_path(@current_msg_chain.listing) %></span> 
  </h4>
  <h4 class="title">
    Waiting for response from 
    <span class="subject"><%= link_to @current_msg_chain.seller.first_name.titleize, public_profile_path(@current_msg_chain.seller.id) %></span> 
  </h4>
  <%#= render "message_header" %>
</div><!-- end of right-heading -->