<div class="col-xs-7 right-heading" id="message-header">
	<h4 class="title">
		Yay +1 win! Enjoy your
		<span class="subject orange">IKEA Sofa Taupe Leather</span>
	</h4>
	<h4 class="title">
		Your scored this at your offer of
		<span>$50.00.</span>
	</h4>

	<%#= render "message_header" %>
</div><!-- end of right-heading -->