<h1>
  <% if @current_msg_chain.present? %>
    Conversation with
    <% if @current_msg_chain.seller == current_user %>
      <% @other_user = @current_msg_chain.buyer %>
    <% else %>
      <% @other_user = @current_msg_chain.seller %>
    <% end %>
    <%= @other_user.first_name %>
  <% end %>
</h1>