<div class="col-xs-10 right-heading" id="message-header">
	<h4 class="title">
		<span class="time-accept">2 days, 16 days</span>
		left to meet with
		<span class="name"><%= @current_msg_chain.seller.first_name.titleize %></span>
		and complete transaction 
	</h4>
	<h4 class="title">
		<span class="pull-left img-accept">
			<%= image_tag image_url("tapsell-accept.png"), class: "pull-left" %>
			<span class="pull-left">ACCEPTED</span>
		</span>
		<span class="pull-left listing-name">- <%= @current_msg_chain.listing.title.titleize %> @ </span>
		<!-- <span class="pull-left listing-name">"<%#= @listing.name.titleize %>" @ </span> -->
		<span> &nbsp; <%= number_to_currency(@current_msg_chain.offer.price, :locale => 'en_us', :precision => 0) %>.</span>
	</h4>

	<%#= render "message_header" %>
</div><!-- end of right-heading -->