<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey <%= @user.first_name %>! </p>
    <p> Thanks for getting Tapsell!  We’re really excited that you’re joining our friendly community of buyers and sellers. </p>
    <p> Some tips to get started:
      <ul> (1) Complete your profile with an "About Me" and a good headshot.  This helps a lot with both buying and selling. </ul>
      <ul> (2) Post an item or make an offer for something you want! </ul> </p>
    <p> If you’ve got questions or feedback, just reply to this email.  We’d be really happy to hear from you. </p>
    <p> Warmly, </p>
    <p> Team Tapsell </p>
    <%= link_to "Visit the Tapsell website", root_url %>

  </body>
</html>