<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @user.first_name %>, </p>
    <p> Your listing "<%= @user.listings_as_seller.last.title %>" was successfully posted! </p>
    <p> <%=link_to "Click here to view the listing", listing_url(@user.listings_as_seller.last.id) %> </p>
    <p> Got questions?  Just reply to this email.  </p>
    <p> Happy selling, </p>
    <p> Team Tapsell </p>
    <%= link_to "Visit the Tapsell website", root_url %>
  </body>
</html>