<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey <%= @user.first_name %>! </p>
    <p> Thanks for getting Tapsell!  We’re really excited that you’re joining our friendly community of buyers and sellers. </p>
    <p> Some tips to get started:
      <ul> (1) You should have received a separate email with your tutorial completion certificate for Free Phil's on Tuesday, 5/27.  See our <%= link_to "Facebook event", "https://www.facebook.com/events/515035051936461/" %> for full details.  </ul>
      <ul> (2) Revisit the site on Tuesday, 5/27 to discover the best new way to buy and sell at UC San Diego! </ul> </p>
    <p> If you’ve got questions or feedback, just reply to this email.  We’d be really happy to hear from you. </p>
    <p> Warmly, </p>
    <p> Team Tapsell </p>
    <%= link_to "Visit the Tapsell website", root_url %>

  </body>
</html>