<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Tapsell Launches @ UCSD</title>
</head>

<body>
<style type="text/css" media="all">
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
</style>

<style>
/* Reset body padding and margins */
body
{
    margin: 0 !important;
    padding: 0 !important;
}

/* Make Header Sticky */
#header_container
{
    background: #FFFFFF !important;
    border: 0px solid #666 !important;
    height: 70px !important;
    left: 0 !important;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
	padding-top: 35px !important;
}

#header_container 
      { 
        position:fixed !important;
        top:0px !important;
        left:0px !important;
        z-index:1000 !important;
       }

 #header{
      z-index:1001 !important;
      }
	  
#header
{
    line-height: 60px !important;
    margin: 10 auto !important;
    width: 940px !important;
    font-size: 26px !important;
    color: #f5f5f5 !important;
    line-height: 28px !important;
    margin-bottom: 14px !important;
	align: center !important;
	margin: 0 auto !important;
}

/* CSS for the content of page. I am giving top and bottom 
   padding of 80px to make sure the header and footer 
   do not overlap the content. */
#container
{
    margin: 0 auto !important;
    overflow: auto !important;
    padding: 80px 0 !important;
    width: 940px !important;
}

#content
{
	padding-top: 20px !important;
}


</style>


<!-- BEGIN: Sticky Header -->
<div id="header_container">
    <div id="header" style="text-align: center !important;">
        <table width="100%">
        <tr>
        <td width="50%" style="text-align: left !important;">
        <img src="http://www.jacquelinechen.com/tapsell/tutorial/Tapsell_Logo.png" height="60%" width="auto"/>
        </td>
        <td width="50%" style="text-align: right; !important">
        <a href="#anchor" style="text-decoration: none !important; color: #9c9c9 !important;"><p style="font-family: Helvetica, Arial, sans-serif !important; color: #9C9C9C !important; font-size: 0.5em !important; -webkit-font-smoothing: antialiased !important; "></p></a>
        </td>        
        </tr>
        
        <tr>
        <td width="100%">
        <style type="text/css">
		.imagesprite {
display: block;
width: 300px;
height: 61px;
background:url(http://www.jacquelinechen.com/tapsell/tutorial/getcertificate_sprite.png) no-repeat 0 0;
overflow: hidden;
text-indent: -15000px;
font-size: 0px;
line-height: 0px;
}
 
.imagesprite:hover {
background-position: 0 -61px;
}
 
.imagesprite:active {
background-position: 0 -300px;
}
	
	</style>
        <div class="imagesprite" style="position: relative; margin: 0 auto; margin-top: 58%;"></div>
        </td>
        </tr>
        </table>
    </div>
</div>
<!-- END: Sticky Header -->
<div id="container">

	<!--First section of content-->
    <div id="content" style="padding-bottom: 12% !important; text-align: center;">
    <table width="100%" style="padding-top: 2% !important;">
    <tr>
    <td width="100%" style="text-align: center !important;">
    <img src="http://www.jacquelinechen.com/tapsell/tutorial/double_headshot.png" width="340px" height="auto"/>
    <p style="font-family: 'Arvo', Helvetica, Arial, sans-serif !important; color: #878787 !important; font-size: 2.5em !important; -webkit-font-smoothing: antialiased !important;">
       Now Bryant is $80 richer, and Rebecca is snorkeling somewhere off the Australian coast.</p>
<p style="font-family: 'Arvo', Helvetica, Arial, sans-serif !important; color: #878787 !important; font-size: 1.5em !important; -webkit-font-smoothing: antialiased !important;">
       That's it! Now you know a little bit more about Tapsell. Click below to get your completion certificate (aka your ticket for free Phil's!).</p>
       
    <p style="font-family: Helvetica, Arial, sans-serif !important; color: #878787 !important; font-size: 1.2em !important; letter-spacing: 0.05em !important; -webkit-font-smoothing: antialiased !important;">
    The launch event will take place on Tuesday, May 27th @ Library Walk, from 8am to 5pm. See you there!
    </p>
    </td>
    </tr>
    </table>
    </div>
    </div>
   
    
    
    <!--Footer-->
    <div style="width: 100%; padding-top: 10px !important; position: absolute; bottom: 0; ">
            <table width="70%" style="margin: 0 auto !important; text-align: center;">
        <tr>
        <td width="50%" style="text-align: left !important;">
                <p style="font-family: 'Arvo', Helvetica, Arial, sans-serif !important; color: #9c9c9c !important; font-size: 1.0em !important; -webkit-font-smoothing: antialiased !important;">&#9825;, TEAM @ TAPSELL</p>
        </td>
        <td width="50%" style="text-align: right; !important">
        <p style="font-family: 'Arvo', Helvetica, Arial, sans-serif !important; color: #9c9c9c !important; font-size: 1.0em !important; -webkit-font-smoothing: antialiased !important;">COPYRIGHT &copy; 2014 TAPSELL</p>
        </td>
        </tr>
        </table>
    </div>
    
    
    
</div>

</body>
</html>
