<% provide(:title, 'Buyer Guarantee') %>

<!DOCTYPE html>
<html>
  <body>

<h1> Tapsell Buyer Refund Policy </h1> 

<p> These terms and conditions govern the Tapsell Buyer Refund Policy (the “Buyer Refund Policy”) available to Buyers who reserve and pay for an Item listed by a Seller through the Tapsell platform (the "Site") and suffer a Transaction issue and the obligations of the Seller associated with the Buyer Refund Policy. </p>

<h2> 1. Transaction issue </h2>

<p> A “Transaction issue” means any one of the following: 
<ul> (a) the Seller of the Item fails to make themselves available to meet the Buyer within 7 days of approving the Buyer’s purchase request </ul>
<ul> (b) the Seller of the item fails to respond to messages from the Buyer in a reasonably timely fashion </ul>
<ul> (c) the description of the Item in the listing on the Site is materially inaccurate with respect to: </ul>
<ul>	<ul> (i) the condition of the item (e.g. omission of descriptors of obvious faults such as cracks and blemishes, representing an item as 		new when it is used) </ul>
		<ul> (ii) representations in the listing of the brand or model of the Item </ul>
		<ul> (iii) features represented in the listing description are not provided or do not function, such as item accessories (e.g. power cords, adapters) </ul>
		<ul> (iv) the physical location of the Item (proximity) </ul> </ul> </p>

<h2> 2. The Buyer Refund Policy </h2> 

<p> If you are a Buyer and suffer a Transaction issue, we agree, at our discretion, to reimburse you up to the amount paid by you through the Site, as determined by Tapsell in our discretion, depending on the nature of the Transaction issue suffered. All determinations of Tapsell with respect to the Buyer Refund Policy, including without limitation the size of any refund, shall be final and binding on the Buyers and Sellers.</p>

<h2> 3. Conditions to Claim a Transaction issue </h2>

<p> Only a Buyer may submit a claim for a Transaction issue. If you are a Buyer, in order to submit a valid claim for a Transaction issue and receive the benefits with respect to your purchase, you are required to meet each of the following conditions: 
<ul> (a) you must bring the Transaction issue to our attention in writing (Tapsell.com/contact) or via telephone and provide us with information including photographs or other evidence about the Item and the circumstances of the Transaction issue within 7 days of the Seller approving your purchase, and must respond to any requests by us for additional information or cooperation on the Transaction issue. </ul> 
<ul> (b) you must not have directly or indirectly caused the Transaction issue (through your action, omission or negligence). </ul> 
<ul> (c) you must have used reasonable efforts to try to remedy the circumstances of the Transaction issue with the Seller prior to making a claim for a Transaction issue. </ul> </p>

<h2> 4. Minimum Quality Standards, Seller Responsibilities and Reimbursement to Buyer </h2>

<p> If you are a Seller, you are responsible for ensuring that the Items you list on the Site accurately represent the characteristics and condition of the Item being sold.  Sellers are responsible for responding in a timely manner to messages from Buyers, and for meeting the Buyer to exchange the Item within 7 days of approving Item purchases.  Additionally, Sellers are responsible for making good faith efforts to resolve Transaction issues raised by the Buyer. </p> 

<p> If you are a Seller, and if (i) Tapsell determines that a Buyer has suffered a Transaction issue related to an Item listed by you and (ii) Tapsell reimburses that Buyer any amount up to the amount paid by the Buyer through the Site, you agree to reimburse Tapsell up to the amount paid by Tapsell within 30 days of Tapsell’s request. All determinations of Tapsell with respect to the Buyer Refund Policy, including without limitation the size of any refund to the Buyer, shall be final and binding on the Buyers and Sellers. You also agree that in order for you to reimburse Tapsell up to the amount paid by Tapsell, Tapsell may off-set or reduce any amounts owed by Tapsell to you by this amount.  If you dispute the Transaction issue you may notify us in writing (Tapsell.com/contact) or via telephone and provide us with information including photographs or other evidence disputing the claims regarding the Transaction issue, provided you must have used reasonable and good faith efforts to try to remedy the Transaction issue with the Buyer prior to disputing the Transaction issue claim. You agree that all determinations of Tapsell with respect to the Transaction issue shall be final and binding on the Buyers and Sellers regardless of your submission of a dispute against such Transaction issue. In the event of one or more Transaction issues, Tapsell, in its discretion, may elect to take additional actions. These actions include, but are not limited to, negatively affecting your listing ranking, automated reviews indicating Transaction issues, cancelling future bookings, suspending or removing the listing of the Item or imposing penalties or fees for the administrative burden associated with the Transaction issues. </p> 

<h2> 5. General Provisions </h2>

<p> <ul> (a) No Assignment/No Insurance. This Buyer Refund Policy is not intended to constitute an offer to insure, does not constitute insurance or an insurance contract, does not take the place of insurance obtained or obtainable by the Buyer, and the Buyer has not paid any premium in respect of the Buyer Refund Policy. The benefits provided under this Buyer Refund Policy are not assignable or transferable by you. </ul> 
<ul> (b) Modification or Termination. Tapsell reserves the right to modify or terminate this Buyer Refund Policy, at any time, in its sole discretion, and without prior notice. If Tapsell modifies this Buyer Refund Policy, we will post the modification on the Site or provide you with notice of the modification and Tapsell will continue to process all claims for Transaction issues made prior to the effective date of the modification. </ul> 
<ul> (c) Entire Agreement and Definitions. This Buyer Refund Policy constitutes the entire and exclusive understanding and agreement between Tapsell and you regarding the Buyer Refund Policy and supersedes and replaces any and all prior oral or written understandings or agreements between Tapsell and you regarding the Buyer Refund Policy. Capitalized terms not otherwise defined herein shall have the meaning set forth in the Tapsell Terms of Service. </ul> 
<ul> (d) Controlling Law. This Buyer Refund Policy will be interpreted in accordance with the laws of the State of California and the United States of America, without regard to its conflict-of-law provisions. </ul> 
<ul> (e) Limitation of Liability.  In no event will Tapsell’s aggregate liability arising out of or in connection with this Tapsell Buyer Refund Policy exceed the amount of the item fees collected by Tapsell from the Buyer. </ul> </p> 

<h2> 6. Contacting Tapsell </h2>

<p> If you have any questions about the Buyer Refund Policy, please contact Tapsell at http://tapsell.co/contact. </p> 

<h2> Acceptance of Buyer Refund Policy </h2>

<p> Your use of our website is subject to this Buyer Refund Policy and the applicable Terms and Conditions of Service.  By using the Site, you are accepting the practices set out in this Buyer Refund Policy and the applicable terms and conditions of service.
You acknowledge and agree that, by posting a Listing or purchasing an Item or otherwise using the Site as a Seller or Buyer, you are indicating that you have read, understand, and agree to be bound by these terms. </p> 

<h2> Effective Date </h2>

<p> This Buyer Refund Policy was last revised on October 23, 2013. </p> 

</html>
  </body>
