@import "global.css";
.header-title-container {
	background-color: #ADCECD;
	box-shadow: inset 0 0 5px #618D8C;
	h1 {
		color: #fff;
		font-family: "futuraextendedregular";
		font-weight: 100;
		font-size: 48px;
		margin-bottom: 25px;
	}
}

.navigation-container {
	background-color: #fff;
	-webkit-box-shadow: 0 4px 3px #dedede;
	-moz-box-shadow: 0 4px 3px #dedede;
	box-shadow: 0 4px 3px #dedede;
	h4, a {
		font-family: "futuraextendedregular";
		color: #6c6c6c;
	}
	h4 {
		margin-left: 15px;
		margin-right: 15px;
		float: left;
	}
	.active {
		a {
			border-radius: 0 !important;
			color: #e67c51 !important;
			background: none !important;
			&:focus {
				color: #e67c51 !important;
			}
		}
	}
	a, li {
		&:hover {
			border-radius: 0 !important;
			color: #e67c51;
			background: none !important;
		}
	}
	.dropdown {
		padding: 10px 15px;
		a {
			font-family: "futuraextendedregular";
			font-size: 14px;
			&:hover, &:active, &:focus {
				text-decoration: none;
				background: none;
				color: #e67c51;
			}
		}
		.glyphicon-play {
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			margin-left: 10px;
			font-size: 11px;
		}
	}
}

.listing-container {
	margin-top: 50px;
	padding-bottom: 50px;
	img {
		width: 100%;
	}
	.thumbnail {
		float: left;
		-webkit-box-shadow: 0 3px 5px 1px #efefef;
		-moz-box-shadow: 0 3px 5px 1px #efefef;
		box-shadow: 0 3px 5px 1px #efefef;
		margin-bottom: 20px;
		border-radius: 0;
		padding: 15px;
		h5, a, div {
			float: left;
		}
		h5 {
			margin-top: 0;
			color: #404040;
		}
		.time-post {
			color: #BABABA;
			margin-top: 5px;
			font-family: "futuraextendedregular";
		}
		.price {
			color: #e67c51;
			font-size: 28px;
			line-height: 30px;
		}
		.col-xs-6 {
			margin-top: 15px;
		}
	}
}