@import "global.css.less";
@import "mixins.less";
@import "lesshat";
.product-live-view-image {
	img {
		width: 125px;
		box-shadow: 0 0 1px #666;
		padding: 7px;
		border: 1px solid #ccc;
		margin-right: 10px;
	}
}

.center-background {
	background-size: cover;
	background-position: center top;
}

.image-navigation {
	margin-top: 10px;
	width: 70px;
	height: 70px;
	text-align: center;
	.center-background;
	&:first-child {
		margin-top: 0;
	}
}

.carousel-inner {
	.item {
		width: 97%;
		height: 420px;
		.listing-image {
			margin: 0 auto;
		}
		.vertical-image {
			height: 100%;
			width: auto; 
		}
	}
}

.left-container {
	.title-container{
		.product-title {
			font-family: @caeciliaroman !important;
		}
		.sub-product-title {
			font-family: @futuraextended;
			color: @mediumGrey;
			font-size: 12px;
		}
	}
	.content-section {
		.product-description {
			margin-top: 40px;
			font-family: @futuraextended;
			color: @darkGrey;
		}
	}
	.commet-section {
		background-color: #f9f9f9;
		.comment-container {
			padding: 0 40px;
			.page-header {
				margin: 20px 0 20px 0;
				h4 {
					font-family: @caecilialight !important;
					font-size: 24px;
				}
				.button-container {
					font-family: @futuraextended;
					color: @darkGrey;
					.button-signin, .button-signup {
						background-color: @orange;
						border: none !important;
						font-family: @futuraextended;
						color: white;
						padding: 3px 13px;
					}
					.or {
						font-family: @futuraextended;
						padding-top: 2px;
					}
					.button-signup {
						margin-right: 10px !important;
					}
				}
			}
		}
		#comments {
			form {
				background: none !important;
				img {
					width: 100%;
				}
				#comment_raw_content {
					border: none !important;
				}
			}
		}
	}
}

.input-group-addon {
	border-radius: 0;
	background-color: transparent;
	border-right: none;
	font-size: 24px;
	padding: 5px 15px;
	color: @orange;
}
.last-addon {
	border-right: 1px solid #ccc;
	background-color: @orange;
	color: #fff;
	border-left: none;
}
.right-container-content {
	.price-product-container {
		font-size: 36px !important;
		padding: 0 !important;
		form {
			width: 80%;
			.input-group-addon {
				border-radius: 0;
				background-color: transparent;
				border-right: none;
				font-size: 24px;
				padding: 5px 15px;
				color: @orange;
			}
			.last-addon {
				border-right: 1px solid #ccc;
				background-color: @orange;
				color: #fff;
				border-left: none;
			}
			input {
				border-left: none;
			}
		}
		.button-product-container {
			float: left;
			width: 100%;
			padding: 0 0 10px 0;
			margin-top: 10px;
			.btn {
				background-color: @aqua;
				font-family: @futuraextended;
				font-size: 26px;
				color: white;
				padding: 3px 12px;
			}
		}
	}
	.avatar-container {
		img {
			width: 72%;
			margin: 20px;
		}
	}
	.user-location-container {
		float: left;
		width: 100%;
		padding: 10px 0;
		.location {
			float: left;
			width: 100%;
			font-family: @caecilialight;
			padding-bottom: 15px;
			img {
				width: 16px;
				opacity: 0.7;
				margin-right: 10px;
				margin-top: -2px;
			}
		}
	}
	.review-container {
		float: left;
		width: 100%;
		img {
			margin: 12px 19px 19px 19px;
		}
		h3 {
			font-family: @futuraextended;
			color: @darkGrey;
			font-size: 18px;
			margin-bottom: 0;
		}
	}
}

.userpic {
	width: 20% !important;
	float: left;
	text-align: center;
	img {
		margin-top: 50px;
		width: 65%;
	}
}

.userbar {
	float: left;
	width: 97%;
	margin: 0 !important;
	background: none !important;
	font-family: @futuraextended;
	.name {
		float: left;
		font-size: 16px;
		color: @darkGrey;
	}
	.time {
		font-size: 12px;
		color: @darkGrey;
		padding-top: 4px !important;
	}
}

.cbody {
	float: left;
	width: 100%;
	margin: 0 !important;
}

.comment-content {
	float: left;
	width: 68%;
	background-color: white;
	border-radius: 12px;
	margin-left: 25px;
	padding: 12px;
	.cbody {
		font-family: @futuralight;
		font-size: 16px;
		border-bottom: none !important;
		color: @darkGrey;
		padding: 5px !important;
	}
}

.comment {
	border: none !important;
	background: none !important;
}

#comment_raw_content {
	width: 100% !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	font-family: @futuraextended;
	color: @darkGrey;
	font-size: 16px;
}

.btn-comment-submit {
	background-color: @orange;
	border: none !important;
	font-family: @futuraextended;
	color: white;
	padding: 3px 20px;
	width: auto;
	margin-right: 50px;
	margin-right: 65px;
	margin-top: 20px;
	&:hover {
		background-color: @orange !important;
	}
}

.comment-form-costume {
	background: white;
	padding: 20px;
	width: 92%;
	margin: 0 auto;
	.form-group {
		float: left !important;
		width: 81%;
	}
}

.comment {
	.highlighted {
		border: none !important;
	}
}

.comments_tree .comment.highlighted {
	border: none !important;
}

.box-container {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #e9e9e9;
	.header-box-container {
		border-bottom: 1px solid #e9e9e9;
		float: left;
		img {
			width: 27px;
		}
		h3 {
			font-size: 21px;
			margin: 0;
			padding-left: 20px;
			padding-bottom: 20px;
			padding-top: 4px;
			color: #5b4e62;
		}
	}
	.box-container-content {
		padding: 20px 35px 0 35px;
		.form-group {
			padding: 15px 0;
			input {
				padding-top: 8px;
				padding-bottom: 8px;
				font-weight: 100 !important;
				font-family: @futuraextended;
				color: #cccbcc;
				height: auto !important;
			}
			select {
				padding-top: 8px !important;
				padding-bottom: 8px !important;
			}
			label {
				font-family: @futuraextended;
				font-size: 18px;
				font-weight: 100 !important;
				color: #7c7c7c;
				padding-top: 7px;
			}
			textarea {
				border: 1px solid #ccc;
				.border-radius(0);
				.box-shadow(none);
			}
		}
		.image-container {
			background-color: #D7D7D7;
			padding: 0px;
			height: 215px;
			img {
				width: 100%;
				height: 100%;
			}
			.add-image {
				position: absolute;
				height: 50px;
				margin: 36% auto;
				width: 100%;
				left: 0;
				img {
					width: 48px;
					height: 48px;
				}
				&:hover {
					transform: rotate(90deg);
					-ms-transform: rotate(90deg); /* IE 9 */
					-webkit-transform: rotate(90deg); /* Opera, Chrome, and Safari */
				}
			}
		}
		.check-container {
			min-height: 40px;
		}
		.button-container {
			.btn {
				.border-radius(0);
				font-family: @futuraextended;
				color: #c7c7c7;
				border: 1px solid #e9e9e9;
				padding: 8px 0;
				font-size: 16px;
				margin-top: 20px;
				&:hover {
					background-color: @orange;
					color: white;
					border: 1px solid #c7c7c7;
				}
			}
			.active {
				background-color: @orange;
				color: white;
				border: 1px solid #c7c7c7;
				.box-shadow(0);
			}
		}
	}
}

.submit-container {
	.btn {
		background-color: #accecc;
		background-image: image-url("/assets/tapsell-layer-button.png");
		background-repeat: no-repeat;
		background-position: top center;
		width: 250px;
		background-size: 100% 32px;
		font-family: @futuraextended;
		font-size: 24px;
		color: white;
		padding: 11px 0;
		-webkit-border-radius: 10px !important;
		-moz-border-radius: 10px !important;
		-ms-border-radius: 10px !important;
		-o-border-radius: 10px !important;
		border-radius: 10px !important;
		.box-shadow(0 2px 10px #ccc);
	}
}

.notification {
	padding: 50px;

	img {
		width: 36px;
		margin-right: 10px;
	}
	p {
		font-family: @futuraextended;
		font-size: 22px;
	}

	a {
		font-size: 18px;
		text-decoration: underline;
	}

	.first-content {
		color: #554170;
	}
}

.top-listing-notification {
	padding-top: 25px;
	padding-bottom: 40px;
	height: auto;
	.notif-title {
		color: #fff;
		h1 {
			font-size: 48px;
		}
		p {
			font-size: 24px;
			margin: 30px auto;
		}
		.share-container {
			p {
				font-family: @futuraextended;
				color: #fff;
				font-size: 18px;
				margin-top: 5px;
			}
			.share-icon {
				margin: 2px 5px 0 5px;
				width: 36px;
			}
			input {
				width: 175px;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-o-border-radius: 0;
				border-radius: 0;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 5px;
			}

			.button-social {
				float: left;
				height: 36px;
				margin-left: 10px;
				background-image: image-url("tapsell_social_button.png");
				background-size: cover;
				background-repeat: no-repeat;
			}
			.facebook {
				background-position: 0 0;
				width: 135px;
			}
			.twitter {
				background-position: -143px 0;
				width: 109px;
			}
			.pinterest {
				background-position: -261px 0;
				width: 130px;
			}
		}
	}
}

.carousel-indicators {
	position: relative;
	width: 100%;
	margin: 0;
	left: auto;
	top: 0;
	.thumb-slider {
		width: 100px;
		height: 100px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		.border-radius(0);
	}
}

.listing-message-btn {
	background-color: @orange;
	font-family: @futuraextended;
	font-size: 21px;
	color: white;
	padding: 8px 19px;
}

.custom-modal-dialog {
	float: none; 
	width: 55%;
	@media(max-width: 767px) {
		width: 100%;
	}
}
.custom-modal-content {
	padding: 20px;
	background-color: #fff;
	margin-top: 128px;
	.custom-modal-header {
		border-bottom: none;
		.title {
			margin-top: 3px;
			margin-left: 14px;
			text-transform: uppercase;
			font-family: @futuraextended;
			color: #555555;
		}
		.send-seller {
			h2, h3 {
				margin-top: 0; 
				color: @orange;
			}
			h3 {
				margin-top: 6px;
			}
		}
	}
	textarea, textarea:active, textarea:focus  {
		color: #868686;
		border: 1px solid #868686;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 15px;
	}
	.submit-modal-button {
		padding: 2px 20px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
}

.edit-listing-btn {
	color: #666;
	font-family: @futuraextended;
	margin-bottom: 10px;
	display: block;
	float: right;
	.edit-listing-icon {
		width: 18px;
		margin-right: 10px;
	}
	&:hover {
		color: @orange;
	}
}

.edit-listing-image {
	width: 100%;
	.border-radius(0);
	height: auto;
}

.edit-listing-title {
	margin-bottom: 10px;
	height: auto;
	font-size: 36px;
	color: #b4b4b4;
}

.edit-listing-name {
	color: #b4b4b4;
}

.image-edit-listing {
	list-style: none;
	width: 100%;
	float: left;
	padding: 0 0 0 15px;
	text-align: center;
	li {
		width: 80px;
		height: 80px;
		margin-bottom: 5px;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		margin-right: auto;
		margin-left: auto;
		border: 1px solid #ccc;
	}
}

.edit-listing-info {
	.border-radius(0);
	min-height: 200px;
	max-height: auto;
}

.edit-listing-header {
	background-color: #5b4e62;
	height: 70px;
	margin-bottom: 70px;
	font-family: @futuraextended;
	color: white;
	display: table-cell;
	vertical-align: middle;
	padding: 25px;
	.white-pencil-icon {
		width: 20px;
		// margin-right: 10px;
	}
	.edit-listing-submit {
		border: 1px solid white;
		position: absolute;
		right: 15px;
		background: transparent;
		.border-radius(0);
		margin-top: -7px;
		font-family: @futuraextended;
		color: white;
		&:hover {
			background: darken(@orange, 10%);
		}
	}
}

.edit-listing-input-group {
	border: 1px solid #dedede;
	.first-addon, .last-addon, input, input:active, input:focus {
		.border-radius(0);
		.box-shadow(none);
		border: none;
	}
}

.edit-listing-comment-container {
	background-color: #F6F6F6;
}