@import "mixins";

.title-container {
	margin-top: 65px;
	.login-title {
		font-size: 36px;
		color: @orange;
		font-weight: bold;
	}
	.login-subtitle {
		font-size: 28px;
		color: #ccc;
	}
	.facebook-container {
		margin: 40px auto;
		.btn {
			background-color: @facebook;
			font-size: 18px;
			padding: 0 100px;
			font-family: @futuraextended;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-ms-border-radius: 7px;
			-o-border-radius: 7px;
			border-radius: 7px;

			&:hover {
				background-color: lighten(@facebook, 10%);
			}
			i {
				margin: 9px 10px 6px 10px;
				font-size: 28px;
				display: inline-block;
			}
			.text-button {
				display: inline-block;
				position: relative;
				top: -3px;
			}
		}
	}
}

.list-container {
	width: 70%;
	@media (max-width: 991px) {
		width: 100%;
	}
}
.registration-container {
	width: 60%;
	padding: 30px;

	@media (max-width: 767px) {
		width: 100%;
		padding: 15px;
	}

	input {
		width: 100%;
		padding-top: 12px;
		padding-bottom: 11px;
	}

	.btn {
		color: #fff;
		width: 70%;
		background-color: @orange;
		border: none;
		-webkit-border-radius: 10px !important;
		-moz-border-radius: 10px !important;
		-ms-border-radius: 10px !important;
		-o-border-radius: 10px !important;
		border-radius: 10px !important;
		&:hover {
			background-color: lighten(@orange, 10%);
		}
	}

	.form-group {
		margin-bottom: 30px;
		.password-input {
			// font-size: 24px;
			padding-top: 7px;
			padding-bottom: 6px;
		}
	}
}

.shared-container {
	margin: 15px auto 30px auto;
	padding: 0;
	a {
		padding-bottom: 50px;
	}
}

.signup-container {
	h1 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.form-group {
		.password-input {
			// font-size: 24px;
			padding-top: 12px;
		}
	}
}