<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Tapsell", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <%# Remove hardcoded path %>
              <li><%= link_to "Sign in", '/sign-in' %></li>
              <li><%= link_to "Sign up", '/sign-up' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>